In [12]:
import pandas as pd
import numpy as np

In [13]:
import warnings
warnings.filterwarnings('ignore')

In [34]:
df_rating = pd.read_csv('ratings.csv')

In [35]:
df_rating.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [36]:
df_movies = pd.read_csv('movies.csv')

In [37]:
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [38]:
df = pd.merge(df_rating, df_movies, on='movieId')

In [39]:
df.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

In [40]:
df

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
5,18,1,3.5,1455209816,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
6,19,1,4.0,965705637,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
7,21,1,3.5,1407618878,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
8,27,1,3.0,962685262,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
9,31,1,5.0,850466616,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
10,32,1,3.0,856736119,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
11,33,1,3.0,939647444,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
12,40,1,5.0,832058959,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
13,43,1,5.0,848993983,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
14,44,1,3.0,869251860,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
15,45,1,4.0,951170182,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
16,46,1,5.0,834787906,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
17,50,1,3.0,1514238116,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
18,54,1,3.0,830247330,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
19,57,1,5.0,965796031,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
20,63,1,5.0,1443199669,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
21,64,1,4.0,1161520134,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
22,66,1,4.0,1104643957,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
23,68,1,2.5,1158531426,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
24,71,1,5.0,864737933,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
25,73,1,4.5,1464196374,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
26,76,1,0.5,1439165548,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
27,78,1,4.0,1252575124,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
28,82,1,2.5,1084467729,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
29,86,1,4.0,1344082549,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
...,...,...,...,...,...,...
100806,610,129313,4.0,1479543234,Reality (2014),Comedy
100807,610,130050,3.0,1493850111,Digging Up the Marrow (2014),Drama|Fantasy|Horror|Mystery|Thriller
100808,610,130052,3.5,1493848925,Clown (2014),Drama|Horror
100809,610,130840,4.5,1493848621,Spring (2015),Horror|Romance|Sci-Fi
100810,610,133832,3.5,1493848796,The Green Inferno (2014),Horror|Thriller
100811,610,135534,3.5,1493848564,Krampus (2015),Comedy|Fantasy|Horror
100812,610,135803,3.5,1479544160,Five Element Ninjas (1982),Action
100813,610,135815,4.0,1479544188,The Magnificent Ruffians (1979),Action|Drama
100814,610,138610,1.5,1493848976,The Gallows (2015),Horror|Thriller
100815,610,138632,5.0,1479545420,Tokyo Tribe (2014),Action|Crime|Drama|Sci-Fi
100816,610,139511,3.0,1479545400,Exte: Hair Extensions (2007),Horror
100817,610,139655,3.0,1493848639,Goodnight Mommy (Ich seh ich seh) (2014),Drama|Fantasy|Horror|Thriller
100818,610,140267,4.0,1493848268,The Witch (2015),Horror
100819,610,141400,4.0,1479544170,Invincible Shaolin (1978),Action
100820,610,141799,3.5,1493848820,Cooties (2015),Comedy|Horror
100821,610,142366,3.0,1479543146,Cigarette Burns (2005),Horror|Thriller
100822,610,142598,4.0,1493848878,Last Shift (2014),Horror
100823,610,145951,0.5,1493849019,Bloodsport: The Dark Kumite (1999),Action|Thriller
100824,610,146309,4.0,1493850187,The Boy and the Beast (2015),Action|Adventure|Animation
100825,610,147657,4.0,1479544210,Masked Avengers (1981),Action
100826,610,147662,3.0,1479544214,Return of the One-Armed Swordsman (1969),Action|Adventure
100827,610,148166,3.5,1479542224,Hitchcock/Truffaut (2015),Documentary
100828,610,149011,3.5,1493848843,He Never Died (2015),Comedy|Drama|Horror
100829,610,152372,3.5,1493848841,Southbound (2016),Horror
100830,610,158721,3.5,1479542491,Gen-X Cops (1999),Action|Comedy|Thriller
100831,610,160341,2.5,1479545749,Bloodmoon (1997),Action|Thriller
100832,610,160527,4.5,1479544998,Sympathy for the Underdog (1971),Action|Crime|Drama
100833,610,160836,3.0,1493844794,Hazard (2005),Action|Drama|Thriller
100834,610,163937,3.5,1493848789,Blair Witch (2016),Horror|Thriller
100835,610,163981,3.5,1493850155,31 (2016),Horror

In [41]:
df.describe()

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09